h1 .subtitle {
  font-size:0.8em;
}

.center {
  text-align:center;
}

.footer {
  font-size:0.8em;
}

ul.articles li {
  list-style-type:none;
}

h1 a {
    font-size:inherit;
    line-height:inherit;
    color:inherit;
}

h1 a::after {
    content:"";
}
