From an early age on, I had a very special connection to technology, and even nowadays I am constantly excited about my work as an engineer!

Passionate and driven, I thrive in a fast-paced work environment that is challenging in all the right ways.

You will also find me an excellent go-between for business and engineering, and passionate about leading and coaching other engineers.

Some fun things I've done in the past (too many to list, really!):

* patched a Linux network driver to allow for scaled retries
* built my own Linux distribution
* worked on an OOM database layer with a key-value-store backend (BerkeleyDB)
* moved to Canada and started working for Amazon
* worked with containers and blockchain long before it was cool
* founded and grew a consulting startup in Berlin (PORT ZERO)

I wonder what I could do for you next? You're welcome to check out my [CV].

[CV]: http://lpolzer.com/cv
