<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8"/>
  <title>On software: Leslie P. Polzer's personal homepage</title>
  <link rel="stylesheet" href="../css/hello-all.css"/>
  <link rel="stylesheet" href="../css/custom.css"/>
</head>
<body>
        <div class="center">
          <h1>
            On Software<br/>
            <span class="subtitle">Leslie P. Polzer's blog</span>
          </h1>
        </div>
        <div class="center">
        <!--
                <a href="/">Home</a>
                <a href="/blog">Blog</a>
        -->
        </div>

        <div class="page">
